<div class="cover-container", align="center">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">You were taken out!</h1>
    <p class="lead">
      Think this is a mistake? Let the Gamemaster know by disputing the takeover.
    </p>
  </main>
</div>
<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <%= render 'messages/form', message: @message %>
  </div>
</div>
<br>