<div class="cover-container", align="center", style="position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 1000px; height: 100px;">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome, Gamemaster.</h1>
    <p class="lead">
      A new round has begun!
    </p>
  </main>
</div>